.citation {
font-size: 0.5em;
color: #00008b;
opacity: 0.7;
}
.reveal .slide ul li, .reveal .slide ol li {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    padding-bottom: 0.8em;
}

.reveal img {
    display: block;
    margin-top: auto;
    margin-right:auto;
    margin-bottom: auto;
    margin-left: auto;
}


/** section#title-slide {
    background-image: url("img/bg_logo_qr.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 200% 100%;
} 

 #thank-you {
    background-image: url("img/bg_logo_qr2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
} **/



@font-face {font-family: myFirstFont; src: url("//db.onlinewebfonts.com/t/99f7456dfd298c4545c7687ce8d5539d.eot"); src: url("//db.onlinewebfonts.com/t/99f7456dfd298c4545c7687ce8d5539d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/99f7456dfd298c4545c7687ce8d5539d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/99f7456dfd298c4545c7687ce8d5539d.woff") format("woff"), url("//db.onlinewebfonts.com/t/99f7456dfd298c4545c7687ce8d5539d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/99f7456dfd298c4545c7687ce8d5539d.svg#Sansation Light") format("svg"); }

@font-face {font-family: "Acumin Variable Concept"; src: url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.eot"); src: url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.woff") format("woff"), url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.svg#Acumin Variable Concept") format("svg"); }


.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: myFirstFont;
}



